<p class='-bd: -bdc:divider'>Lorem ipsum dolor sit amet, adipiscing elit.</p>
<p class='-bd: -bdc:divider'>Lorem ipsum dolor sit amet, adipiscing elit.</p>
<p class='-bd: -bdc:divider -mbs:20'>Lorem ipsum dolor sit amet, adipiscing elit.</p>
