---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import Texts from './_html-text.astro';
import { Lism } from 'lism-css/astro';

// import './style.scss';
---

<DemoPageLayout title='is--flow'>
	<Lism isFlow='l' hasGutter py='50' isContainer='m'>
		<Texts />
		<Lism isFlow='s' bd bdc='blue'>
			<p>is--flow:s</p>
			<Texts />
		</Lism>
		<Lism isFlow='m' bd bdc='red'>
			<p>is--flow:m</p>
			<Texts />
		</Lism>
		<Lism isFlow bd bdc='green'>
			<p>is--flow</p>
			<Texts />
		</Lism>
		<Lism isFlow='2px' bd bdc='purple' p='20'>
			<p>is--flow: 2px</p>
			<Texts />
			<Lism isFlow bd bdc='green'>
				<p>is--flow</p>
				<Texts />
			</Lism>
			<div>
				<Lism isFlow bd bdc='gray'>
					<p>div > is--flow</p>
					<Texts />
				</Lism>
			</div>
			<Lism isFlow='l' bd bdc='red'>
				<p>is--flow:l</p>
				<Texts />
			</Lism>
		</Lism>
		<Texts />
		<!-- <Lism isFlow='s'>
			<RawHTML type='forms' />
		</Lism> -->
	</Lism>
</DemoPageLayout>
